/* placement.css */

.placement {
    padding: 50px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.placement h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.placement p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

.placement .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.placement .placement-col {
    flex: 0 1 calc(30% - 20px);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.placement .placement-col h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.placement .placement-col p {
    font-size: 1.1em;
    color: #555;
}
